body {
    font-family: 'Share Tech Mono', monospace;
}

.timer-output{
    width: 200px;
    background: #222;
    color: darkred;
    padding: 16px 8px;
    font-size: 64px;
    text-align: center;
    line-height: 1;
    user-select: none;
}

.timer-output-wrapper{
    width: calc(100% - 24px);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 12px;
}

#startstop {
    margin-top: 10px;
}

.container {
    background-color: rgb(240, 197, 181);
}

.questionField {
    margin: 10px -10px;
    font-size: 20px;
}

.timer {
    margin: -30px 0 0 0;
}

.gametitle {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.numplayers {
    margin: 5px 0 10px 20px;
}

.timesel {
    margin: 5px 0 10px 20px;
}

.rightanswer {
    margin-left: 5px;
}

.startstop {
    background-color: rgb(100, 237, 118);
    color: cornsilk;
    margin-bottom: 10px;
}

.about_link {
    margin-bottom: 10px;    
}